<div class="types-div">
  <% category.forEach(sub => { %>

  <a href="<%= baseUrl %>/<%= sub.name %>" class="category"><%= sub.name %></a>

  <% }); %>
</div>
<a href="/categories" class="back-button">Back to Categories</a>
