<div class="subcategories">
  <% category.forEach(sub => { %>
  <div class="category">
    <a href="<%= baseUrl %>/<%= sub.name %>"><%= sub.name %></a>
  </div>
  <% }); %>
</div>
<a href="/categories">Back to Categories</a>
