<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch inventory</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Categories</h1>
    <div class="types-div">
      <a href="/categories/types" class="category">Types</a>
      <a href="/categories/movements" class="category">Movements</a>
      <a href="/categories/brands" class="category">Brands</a>
      <a href="/categories/styles" class="category">Styles</a>
    </div>
    <%- include('footer') %>
  </body>
</html>
