<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch inventory</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Categories</h1>
    <div class="types-div">
      <div><a href="/categories/types">Types</a></div>
      <div><a href="/categories/movements">Movements</a></div>
      <div><a href="/categories/brands">Brands</a></div>
      <div><a href="/categories/styles">Styles</a></div>
    </div>
    <%- include('footer') %>
  </body>
</html>
