<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Application</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Main</h1>
    <h1>Part</h1>
    <h1>Of</h1>
    <h1>The</h1>
    <h1>Page</h1>
    <%- include('footer') %>
  </body>
</html>
