<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Application</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <main>
      <img
        class="hero"
        src="https://images.unsplash.com/photo-1495856458515-0637185db551?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
    "
        alt=""
      />
    </main>
    <%- include('footer') %>
  </body>
</html>

<!-- IMAGES -->

<!-- https://images.unsplash.com/photo-1495856458515-0637185db551?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D -->
<!-- https://unsplash.com/photos/person-wearing-gold-and-white-analog-watch-htsyf4VLCP0 -->
<!-- https://unsplash.com/photos/round-black-analog-watch-on-stone-umLlSREhfp0 -->
<!-- https://unsplash.com/photos/round-black-analog-watch-nOhRrpADKXk -->
<!-- https://unsplash.com/photos/person-wearing-brown-leather-strap-gold-round-analog-watch-N5Giu01zJcg -->
<!-- https://unsplash.com/photos/round-black-analog-watch-on-stone-umLlSREhfp0 -->
