<div class="items">
  <% items.forEach(item => { %>
  <div class="item">
    <%= item.name %> <%= item.model %>
    <img src="<%= item.image %>" alt="" class="watch-img" />
  </div>

  <% }); %>
</div>
<a href="/categories">Back to Categories</a>
