html {
  display: flex;
  justify-content: center;
}

body {
  width: 80%;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.messages {
  display: flex;
  flex-direction: column;
  color: blue;
  text-align: center;
  gap: 1em;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid black;
}

.message:hover {
  background-color: blanchedalmond;
  /* font-weight: 700; */
}

p {
  margin: 5px;
}

.newMessageButton {
  margin-top: 1em;
  padding: 1em;
  border-radius: 10px;
}

.newMessageButton:hover {
  background-color: blanchedalmond;
  scale: 110%;
  font-weight: 700;
}

nav,
footer {
  width: 100%;
  background-color: yellow;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.formSubmit {
  width: 100%;
}

.nav-links li {
  list-style-type: none;
}

.nav-links {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
}

.types-div {
  color: gray;
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 1em;
  flex-wrap: wrap;
}

.category {
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  background-color: aqua;
  font-weight: 600;
  font-size: 2em;
  max-width: 20%;

  flex: 1 1 calc(20% - 10px); /* 25% width minus gap */
  max-width: calc(25% - 10px);
}

.category:hover {
  transform: scale(0.9);
}

.category {
  color: black;
}

.category:visited {
  color: black;
}

main {
  width: 100%;
}

.subcategories {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  /* justify-content: space-around; */
}

.sub {
  width: 100%;
  height: auto;
}

.items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: 300px;
  text-align: center;

  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  background-color: white;
  font-weight: 600;
  font-size: 1em;
  max-width: 20%;

  flex: 1 1 calc(20% - 10px); /* 25% width minus gap */
  max-width: calc(25% - 10px);
}

.item span {
  display: inline-block;
}

.items a {
  color: inherit;
}

.items a:visited {
  color: inherit;
}

.watch-img {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.hero {
  width: 100%;
  max-width: 100%;
  height: 80vh;
}
